@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.homePage img {
  width: 700px !important;
  /* height: 500px !important;  */
}

/* .outfit-<uniquifier> {
.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.font{
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

.mainFont{
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}