@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.homePage img {
  width: 700px !important;
  /* height: 500px !important;  */
}

/* .outfit-<uniquifier> {
.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

.font {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
}

.mainFont {
  font-family: "Outfit", sans-serif;
  font-weight: 800;
}

.lightFont {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}


.bgOverlay {
  background: url("/bgOverlay.jpg");
  background-size: cover;
  object-fit: cover;
  background-position: center;
  width: 50%;
}



.head {
  font-size: 25px;
  font-weight: 900;
}

.body p {
  color: #807c7c;
  font-weight: 600;
  text-align: center;
  font-size: 17px;
  padding: 7px;
}

.card {
  border: 1px solid transparent;
  transition: all 0.3s linear;
  padding: 2px;
  cursor: pointer;
}

.card:hover {
  border: 1px solid #387de4;
}

.card:hover .head {
  color: #007aff;
}

.footerFont {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
}


.vinCheckFont{
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

.onlyFont{
  font-family: "Outfit", sans-serif;
}